{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Analysis Details
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-10">
    <h1>Analysis Details</h1>
            <br>
    Analysis Id : {{ sentiment.sentimentid   }}<br>
    Analysis Name: {{ sentiment.sentimentname   }}<br>
    Mode:{{ sentiment.mode   }}<br>
    Method :{{ sentiment.method   }}<br>

    Keywords: <div style="overflow: scroll; width: 200px; height:130px;" ><ul class="list-group" style="width: 200px;">
            {% for key in sentiment.keywords   %}

              <li class="list-group-item">{{ key }}</li>

            {% endfor %}
        </ul></div>
            <br>
    Status: {{ sentiment.status   }}<br>
    is SparkContext Running: {{  sentiment.last_update_text }}<br>
    Create Date: {{  sentiment.createdate }}
            <br>
   {% if sentiment.startdate != None%}
    Start Date: {{  sentiment.startdate }}<br>
            {% else %}
    Start Date: Not Started<br>
            {%endif%}
            {% if sentiment.stopdate != None %}
    Stop Date: {{  sentiment.stopdate }}<br>
            {% else %}
    Stop Date: Not Stopped<br>
            {%endif%}
     Notes: <div style="overflow: scroll; width: 200px; height:130px;"><ul class="list-group" style="width: 200px;">
            {% for key in sentiment.notes   %}

              <li class="list-group-item">{{ key }}</li>

            {% endfor %}
        </ul></div>
            <br>
    Last Update: {{ sentiment.lastupdate   }}<br>
            <a href="{{sentiment.get_start_url}}"> <button type="button" class="btn btn-primary">Start Analysis</button></a>
            <a href="{{sentiment.get_resume_url}}"> <button type="button" class="btn btn-primary">Resume Analysis</button></a>
            <a href="{{sentiment.get_stop_url}}"> <button type="button" style="margin-left:5px" class="btn btn-danger">Stop Analysis</button></a>
            <a href="{{sentiment.get_log_url}}"> <button type="button" style="margin-left:5px" class="btn btn-info"> Analysis Log</button></a>
            <a href="{{sentiment.get_report_url}}">  <button type="button" style="margin-left:5px" class="btn btn-secondary">Report Service</button></a>
        </div>
    </div>
</div>

{% endblock %}