{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h2>Analysis</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Analysis Id</th>
                <th>Analysis Name</th>
                <th>Status</th>
                <th>Last Update</th>
                <th>
                </th>
      </tr>
    </thead>
    <tbody>
    {% if sentiments %}
    {% for snt in sentiments %}
           <tr>
        <td>{{ snt.sentimentid }}</td>
        <td>{{ snt.sentimentname }}</td>
        <td>{{ snt.status }}</td>
        <td>{{ snt.lastupdate }}</td>
               <td><a href="{{snt.get_absolute_url}}"><button type="button" class="btn btn-info" >Info</button></a></td>
      </tr>
    {% endfor %}
{% endif %}
    </tbody>
  </table>
</div>
  <br>
<div class="col-10">
<div class="pagination">
    <span class="step-links">
        {% if sentiments.has_previous %}
            <a class="previous" href="?page=1">first</a>
            <a class="previous" href="?page={{ sentiments.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ sentiments.number }} of {{ sentiments.paginator.num_pages }}.
        </span>

        {% if sentiments.has_next %}
            <a class="next" href="?page={{ sentiments.next_page_number }}">next</a>
            <a class="next" href="?page={{ sentiments.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</div>
{% endblock %}
